@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Girassol,sans-serif ;
    background-image: url(bg2.jfif), url(bg1.jfif);
    background-size:600px,1800px;
    background-repeat: no-repeat, no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 120px;
}
h1{
    font-size: 20px;
    color:white;
    margin:30px;
    margin-bottom:10px;
    border-bottom: 2px dotted white;
}
ul li{
    list-style: none;
    display: inline;
}
ul li a{
    text-decoration: none;
    color:white;
    padding: 20px;
    margin-right: 20px;
}
ul li a:hover{
    background-color: rgba(75, 74, 74, 0.856);
    color:rgba(170, 168, 168, 0.849);
    border-radius: 50px;
}
.search-box input{
    padding: 10px;
    height: 50px;
    width: 380px;
    margin-left: 30px;
    border: none;
    font-size: 20px;
}
.search-box button{
    font-size:20px;
    height: 50px;
    padding: 10px;
    border: none;
}
main p{
    text-align: right;
    color: white;
    margin: 20% 10%;
    font-size: 40px;
}
